name: Release

on:
  push:
    branches: [master]

permissions:
  contents: write
  pull-requests: write
  id-token: write

jobs:
  release-test:
    if: github.actor != 'renovate[bot]'
    uses: ./.github/workflows/test.yml

  release-github:
    name: Github Release
    needs: [release-test]
    runs-on: ubuntu-latest
    outputs:
      releases_created: ${{ steps.release.outputs.releases_created }}
      paths_released: ${{ steps.release.outputs.paths_released }}
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.PUSH_TOKEN }}

  release-jsr:
    needs: [release-github]
    if: needs.release-github.outputs.releases_created == 'true'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        path_released: ${{ fromJson(needs.release-github.outputs.paths_released) }}
    name: Publish ${{ matrix.path_released }} to JSR
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: denoland/setup-deno@v2
        with:
          deno-version-file: .dvmrc
      - working-directory: ${{ matrix.path_released }}
        run: if [ "$(cat deno.json | jq -r '.private // false')" != "true" ]; then deno publish; fi
