name: Publish

on:
  push:
    branches: [master]

jobs:
  test:
    if: github.actor != 'renovate[bot]'
    uses: ./.github/workflows/test.yml

  publish:
    name: Publish
    needs: [test]
    runs-on: ubuntu-latest
    concurrency:
      group: release
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v6
        with:
          token: ${{ secrets.PUSH_TOKEN }}

      - uses: denoland/setup-deno@v2
        with:
          deno-version-file: .dvmrc

      - uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.PUSH_TOKEN }}
        run: | # shell
          for path in $(deno task --quiet --recursive pwd); do
            cd $path
            if [ ! -f package.json ]; then
              package_name=$(cat deno.json | jq -r .name)
              echo '{"name":"'"${package_name}"'"}' > package.json
            fi
            npm install --dev semantic-release semantic-release-monorepo @semantic-release/exec @semantic-release/git
            npx semantic-release
            sleep 3
          done
