name: Release

on:
  push:
    branches: [master]

jobs:
  release-test:
    if: github.actor != 'renovate[bot]'
    uses: ./.github/workflows/test.yml

  release-github:
    name: Github Release
    needs: [release-test]
    runs-on: ubuntu-latest
    concurrency:
      group: release
    permissions:
      contents: write
      issues: write
      pull-requests: write
    outputs:
      releases_created: ${{ steps.release.outputs.releases_created }}
      paths_released: ${{ steps.release.outputs.paths_released }}
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

  release-deno-version:
    needs: [release-github]
    if: needs.release-github.outputs.releases_created == 'true'
    uses: ./.github/workflows/get-deno-version.yml

  release-jsr:
    needs: [release-deno-version, release-github]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        path_released: ${{ fromJson(needs.release-github.outputs.paths_released) }}
    name: Publish ${{ matrix.path_released }} to JSR
    permissions:
      contents: read
      id-token: write
    container:
      image: denoland/deno:${{ needs.release-deno-version.outputs.version }}
    steps:
      - uses: actions/checkout@v6
      - working-directory: ${{ matrix.path_released }}
        run: if [ "$(cat deno.json | jq -r '.private // false')" != "true" ]; then deno publish; fi
