name: Pull Request

on:
  pull_request:
  workflow_call:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    container:
      image: denoland/deno:5.9.2

    steps:
      - name: Checkout project
        uses: actions/checkout@v6

      - name: Check
        run: deno check --frozen

      - name: Lint
        run: deno lint

      - name: Test
        run: deno test --frozen --allow-all
