name: Pull Request

on:
  pull_request:
  workflow_call:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    container:
      image: denoland/deno:2.5.5

    steps:
      - name: Checkout project
        uses: actions/checkout@v5

      - name: Check
        run: deno check --frozen

      - name: Lint
        run: deno lint

      - name: Test
        run: deno test --frozen --allow-all
